<!--Elena Smirnova student #200455112, Assignment3-->
<div>
<h1 class="mb-5">About Me</h1>
<hr>
<img src="/Assets/images/about-image.jpeg" alt="myphoto">
<p>My name is Elena, I am a student at Georgian College, IMDW.
    I learn how to develop Web sites and Applications. I want to put my future in the development of web applications that will be useful tp different people and make their life easier and simpler.
</p>
<h2>This is my services</h2>
<ul>
    <li>
        Web Design
    </li>
    <li>
        Web Development
    </li>
    <li>
        Project Management
    </li>
    <li>
        Social Media
    </li>
    <li>
        Asp.NET Framework
    </li>
</ul>
</div>