<h1 class="mb-5">Welcome to My Bio Site</h1>
<hr>
<img src="/Public/Assets/images/about-image.jpeg" alt="myphoto">
<p>My name is Elena, I am a student at Georgian College, IMDW.
    I learn how to develop Web sites and Applications. I want to put my future in the development of web applications that will be useful tp different people and make their life easier and simpler.
</p>
<button id="aboutUsButton" class="btn btn-primary">Learn About Us!</button>