<!--Elena Smirnova student #200455112, Assignment3-->
<div>
    <div class="row">
        <div class="col-12">
        <h1 class="mb-5">My Projects</h1>
        <hr>
        <p>On this page you can see my projects.</p>
        <img id=project1 src="/Assets/images/Screenshot1.jpg" alt="project1">
        </div>
        <hr>
        <div class="col-12">
        <img id=project2 src="/Assets/images/Screenshot2.jpg" alt="project2">
        </div>
        <hr>
        <div class="col-12">
        <img id=project3 src="/Assets/images/Screenshot3.jpg" alt="project3">
    </div>
 </div>
</div>