<!--Elena Smirnova student #200455112, Assignment3-->
<div>
<h1 class="mb-5">My Services</h1>
<hr>
<ul>
    <li>
        Web Design
    </li>
    <li>
        Web Development
    </li>
    <li>
        Project Management
    </li>
    <li>
        Social Media
    </li>
    <li>
        Asp.NET Framework
    </li>
</ul>
</div>